/* Accessibility pending. */

:root {
   --body-gutter-width: 1em;
   /* TODO : Refactor palette to hsl */
   --color-bright: #d6eefa;
   --color-brightest: #f7f9fa;
   --content-color: rgb(48, 48, 48);
   --content-left: .25em;
   --content-top: .25em;
   --hb-bk-color: #d6eefa;
   --hb-bk-color-active: #5ec9ff;
   --hb-bk-color-focus: #008cff;
   --hb-bk-color-hover: #d6eefa;
   --hb-bk-color-hover2: #91d9fd;
   --hb-color-brightest: #f7f9fa;
   --hb-color-darkest: #008cff;
   --hb-palette: #f7f9fa #d6eefa #91d9fd #5ec9ff #43abff #008cff;
   --hb-bk-image-transition: background-image .5s ease-in-out 25ms;
   --hb-bk-transition: background-color .5s ease-in-out 25ms;
   --hb-chunk-size: .14286em; /* calc(1em / 7); */
   --hb-chunk-size-half: .07143em; /* calc(1em / 14); */
   --hb-chunk-size-third: .04762em; /* calc(1em / 21); */
   --hb-chunk-size-fourth: .03571em; /* calc(1em / 28); */
   --hb-chunk-size-fifth: .02857em; /* calc(1em / 35); */
   --hb-drop-shadow: drop-shadow(0.07143em 0.07143em 0.04762em var(--hb-bk-color-active));
   --hb-font-size: 2.5rem;
   --min-height: 30em;
   --min-width: 30em;
   --transition-std: .5s ease-in-out 40ms;
   --transition-all: all .5s ease-in-out 40ms;
}

html, body {
   margin: 0;
   border: none;
   padding: 0;
   font-size: 1rem;
}

html {
   background-color: var(--color-brightest);
   height: 100%;
}

body {
   position: absolute;
   padding: 1em;
   top: 1em;
   right: 1em;
   left: 1em;
   min-width: var(--min-width);
   min-height: var(--min-height);
   background-color: var(--color-brightest);
}

.code { font-family: Consolas, monospace; }
.mono { font-family: monospace; }
.mono-serif { font-family: 'Courier New', Courier; }
.san-serif { font-family: Arial, Helvetica, sans-serif, }
.serif { font-family: 'Times New Roman', Times, serif; }

#burgers {
   border: 0.25em solid var(--hb-color-darkest);
   border-radius: 1em;
   padding: 1em;
   box-sizing: border-box;
   color: var(--content-color);
   background-color: transparent;
   font-size: 1em;
}
/* intentionally specific css */
#burgers ul {
   display: inline-block;
   line-height: 1em;
   /* font-size: 1.25em; */
   list-style: none;

}

#burgers ul li {
   display: inline-block;
   margin: 0.5em;
   margin-left: 0;
   border: 0.25em solid var(--hb-color-darkest);
   border-radius: .5em;
   padding: 0.5em;
   box-sizing: content-box;
   background-color: #ffedd4;
   width: 9.667em; /* arbitrary */
   height: calc(var(--hb-font-size) + 3em); /* 3em arbitrary single-wrap text description */
}
#burgers ul li a {
   hyphens: none;
}
#burgers ul p {
   margin: 0;
}
#burgers ul li:last-of-type {
   display: inherit;
}

.burger {
   display: inline-block;
   outline: none;
   padding: calc(var(--hb-chunk-size)/5) 0 0 0.1em;
   border-radius: .15em;
   background-color: transparent;
   cursor: pointer;
   caret-color: transparent;
   font-size: var(--hb-font-size);
   text-decoration: none;
   height: 1em;
   width: 1em;
   line-height: 1em;
   transition: var(--transition-all);
}
.burger div {
   width: 0.9em;
   caret-color: transparent;
   margin-top: var(--hb-chunk-size);
   height: var(--hb-chunk-size);
   color: var(--hb-color-darkest);
   border-color: var(--hb-color-darkest);
   border-radius: var(--hb-chunk-size);
   background-color: var(--hb-color-darkest);
   text-decoration: none;
   transition: var(--transition-all);
}
#burger1:hover div,
#burger1:focus div,
#burger1:active div { filter: var(--hb-drop-shadow); transition: var(--transition-all); }

#burger2:hover,
#burger2:focus,
#burger2:active { background-color: var(--hb-bk-color-hover2); }

#burger3:hover,
#burger3:focus,
#burger3:active { background-color: var(--hb-color-darkest); transition: var(--transition-all); }
#burger3:hover div,
#burger3:focus div,
#burger3:active div { background-color: var(--hb-bk-color-hover); transition: var(--transition-all); }

#burger4:hover,
#burger4:focus,
#burger4:active { background-color: var(--hb-bk-color-hover2); }
#burger4 div { filter: var(--hb-drop-shadow); transition: var(--transition-all); }
#burger4:focus div, /* #burger3:hover div,*/
#burger4:active div { filter: none; transition: var(--transition-all); }

#burger5 { border: var(--hb-chunk-size-third) solid transparent; }
#burger5:hover,
#burger5:focus,
#burger5:active { border-color: var(--hb-color-darkest); }

/* media queries */
@supports (display: grid)
{
   #burgers ul {
      display: grid;
      grid-column-gap: 1em;
      grid-row-gap: 1em;
      grid-template-columns: repeat(auto-fit, 11.1667em); /* arbitrary, see #burgers */
      margin: 1em;
   }
   #burgers ul li {
      margin: 0;
   }
}
